.carruselsizes img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s ease-in; }

.sticky {
  position: sticky;
  z-index: 1;
  top: 0; }

.pagar a {
  padding: 10px; }

.pagar a:hover {
  background-color: #f5ebe8;
  transition: all 0.3s ease-in;
  border-radius: 30rem; }

main {
  color: #0a557a; }
  main .actividad {
    text-align: center;
    width: 60%;
    margin: 3rem auto; }
    main .actividad p {
      padding: 1rem; }
    main .actividad .casilla:hover {
      background-color: #f1f5fa;
      transition: all 0.5s ease-in;
      border-radius: 20px; }
    main .actividad .found h4:hover {
      font-size: 1.8rem;
      transition: all 0.7s ease-in; }
  main .grid-found {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". image0 found found found found" ". image0 found found found found" ". image0 found found found found" ". image0 found found found found"; }
  main .found-image {
    grid-area: image0; }
  main .found-image1 {
    grid-area: image1; }
  main .found {
    grid-area: found;
    text-align: justify;
    width: 90%; }

.referidos {
  position: relative;
  text-align: center;
  align-items: center;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Square Peg', cursive;
  font-family: 'DynaPuff', cursive; }
  .referidos img {
    width: 100%; }

.titulo {
  position: absolute;
  top: 3rem;
  left: 25rem;
  color: white;
  padding: 2rem; }
  .titulo h2 {
    font-weight: bolder;
    margin-top: 3rem; }

.texto-ejemplos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f9f0f0; }
  .texto-ejemplos p {
    padding: 1rem;
    font-weight: bolder;
    font-size: 1.5rem; }
  @media (max-width: 600px) {
    .texto-ejemplos p {
      font-size: small; } }
  @media (max-width: 400px) {
    .texto-ejemplos p {
      font-size: x-small;
      padding: 0.5rem; } }
  @media (max-width: 330px) {
    .texto-ejemplos p {
      font-size: xx-small; } }

/* estilos nosotros */
.nosotros {
  display: grid;
  grid-template-columns: 6, 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". . mision mision mision" "vision vision vision . ." ". . objetivos objetivos objetivos";
  color: #0a557a;
  /* definiendo areas */ }
  .nosotros .n1 {
    grid-area: mision;
    width: 80%;
    margin: auto;
    text-align: justify;
    padding: 1rem 2rem;
    margin-bottom: 2rem; }
    .nosotros .n1 h2 {
      text-align: center; }
    .nosotros .n1:hover {
      background-color: #f1f5fa;
      transition: all 0.5s ease-in;
      border-radius: 20px; }
  .nosotros .n2 {
    grid-area: vision;
    width: 80%;
    margin: auto;
    text-align: justify;
    padding: 1rem 2rem;
    margin-bottom: 2rem; }
    .nosotros .n2 h2 {
      text-align: center; }
    .nosotros .n2:hover {
      background-color: #f1f5fa;
      transition: all 0.5s ease-in;
      border-radius: 20px; }
  .nosotros .n3 {
    padding: 1rem 2rem;
    grid-area: objetivos;
    width: 80%;
    margin: auto;
    text-align: justify;
    padding: 1rem 2rem;
    margin-bottom: 2rem; }
    .nosotros .n3 h2 {
      text-align: center; }
    .nosotros .n3:hover {
      background-color: #f1f5fa;
      transition: all 0.5s ease-in;
      border-radius: 20px; }
  .nosotros h2 {
    text-align: center;
    margin: 2rem; }
  @media (max-width: 600px) {
    .nosotros {
      margin: auto;
      grid-template-columns: 1fr;
      grid-template-areas: "mision" "vision" "objetivos";
      align-items: center;
      justify-items: center; } }

.ley {
  text-align: justify;
  margin-bottom: 2rem;
  color: #0a557a;
  width: 80%;
  margin: 2rem auto;
  padding: 2rem; }
  .ley h3 {
    color: #0a557a;
    text-align: center; }
  .ley li {
    list-style: decimal; }
  .ley:hover {
    background-color: #f1f5fa;
    transition: all 0.5s ease-in;
    border-radius: 20px; }

.productos {
  color: #0a557a;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "ahorros ahorros ahorros imgahorros imgahorros imgahorros" "imgcredito imgcredito imgcredito credito credito credito" "inversion inversion inversion imginversion imginversion imginversion"; }
  .productos img {
    margin: 2rem auto;
    justify-content: center;
    width: 80%;
    height: 80%;
    object-fit: contain; }
  .productos .p1 {
    grid-area: ahorros;
    width: 80%;
    margin: auto;
    text-align: justify;
    padding: 1rem 2rem;
    margin-bottom: 2rem; }
    .productos .p1 h2 {
      text-align: center; }
    .productos .p1:hover {
      background-color: #f1f5fa;
      transition: all 0.5s ease-in;
      border-radius: 20px; }
  .productos .p2 {
    grid-area: imgahorros;
    display: flex; }
  .productos .p3 {
    grid-area: credito;
    width: 80%;
    margin: auto;
    text-align: justify;
    padding: 1rem 2rem;
    margin-bottom: 2rem; }
    .productos .p3 h2 {
      text-align: center; }
    .productos .p3:hover {
      background-color: #f1f5fa;
      transition: all 0.5s ease-in;
      border-radius: 20px; }
  .productos .p4 {
    grid-area: imgcredito;
    display: flex; }
  .productos .p5 {
    grid-area: inversion;
    width: 80%;
    margin: auto;
    text-align: justify;
    padding: 1rem 2rem;
    margin-bottom: 2rem; }
    .productos .p5 h2 {
      text-align: center; }
    .productos .p5:hover {
      background-color: #f1f5fa;
      transition: all 0.5s ease-in;
      border-radius: 20px; }
  .productos .p6 {
    grid-area: imginversion;
    display: flex; }
  .productos .col-md-7 {
    width: 80%;
    margin: auto;
    text-align: justify;
    padding: 1rem 2rem;
    margin-bottom: 2rem; }
    .productos .col-md-7 h2 {
      text-align: center; }
    .productos .col-md-7:hover {
      background-color: #f1f5fa;
      transition: all 0.5s ease-in;
      border-radius: 20px; }
  @media (max-width: 600px) {
    .productos {
      grid-template-columns: 1fr;
      grid-template-areas: "ahorros" "imgahorros" "credito" "imgcredito" "inversion" "imginversion"; } }

.noticias {
  color: #0a557a; }
  .noticias .not1, .noticias .not2 {
    width: 80%;
    margin: auto;
    text-align: justify;
    padding: 1rem 2rem;
    margin-bottom: 2rem; }
    .noticias .not1 h2, .noticias .not2 h2 {
      text-align: center; }
    .noticias .not1:hover, .noticias .not2:hover {
      background-color: #f1f5fa;
      transition: all 0.5s ease-in;
      border-radius: 20px; }

.formulario {
  width: 70%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: justify; }

footer {
  background-color: rgba(255, 255, 255, 0.715); }
  footer h3 {
    padding: 0.2rem;
    margin-left: 0.5rem;
    font-size: 1rem; }
  footer .pie {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "ubicacion redes";
    align-items: center;
    justify-items: center; }
  footer .redes {
    grid-area: redes;
    margin: 1rem auto; }
  footer .ubicacion {
    grid-area: ubicacion;
    margin: auto; }
  @media (max-width: 600px) {
    footer .pie {
      display: grid;
      margin: auto;
      grid-template-columns: 1fr;
      grid-template-areas: "ubicacion " "redes";
      align-items: center;
      justify-items: center; } }
