footer{
    background-color: rgba(255, 255, 255, 0.715);;
    h3{
        padding: 0.2rem;
        margin-left: 0.5rem;
        font-size: 1rem;
    }
    .pie{
        display: grid;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "ubicacion redes" ;
        align-items: center;
        justify-items: center;
    }
    .redes{
        grid-area: redes;
        margin: 1rem auto;

    }
    .ubicacion{
        grid-area: ubicacion;
        margin: auto;

    }
    @media (max-width: 600px){
        .pie{
            display: grid;
            margin: auto;
            grid-template-columns: 1fr;
            grid-template-areas:
            "ubicacion "
            "redes" ;
            align-items: center;
            justify-items: center;
        }

    }
    ;
}

