
        .sticky{
        position: sticky;
        z-index: 1;
        top:0;
        }
        .pagar a{
            padding: 10px;
        }
        .pagar a:hover{
            background-color: rgb(245, 235, 232);
            transition: all 0.3s ease-in;
            border-radius: 30rem;
        }

main{
    color: #0a557a;
    .actividad{
        text-align: center;
        width: 60%;
        margin: 3rem auto;
        p{
            padding: 1rem;
        };
        // convertir en variable
        .casilla:hover{
            background-color: $color-hover;
            transition: all 0.5s ease-in;
            border-radius: 20px;
        
        }
        .found h4:hover{
            font-size: 1.8rem;
            transition: all 0.7s ease-in;
            
            }
    }
    .grid-found{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        grid-template-areas: 
        ". image0 found found found found"
        ". image0 found found found found"
        ". image0 found found found found"
        ". image0 found found found found";
    }
    .found-image{
    grid-area:image0;
    }
    .found-image1{
        grid-area: image1;
        }
    .found{
        grid-area: found;
        text-align: justify;
        width: 90%;
    }
}
.referidos{
    position: relative;
    text-align: center;
    align-items: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Square Peg', cursive;
    font-family: 'DynaPuff', cursive;
    img{
        width: 100%;
    }


}
.titulo{
    position: absolute;
    top: 3rem;
    left: 25rem;
    color: white;
    padding: 2rem;
    h2{
        font-weight: bolder;
        margin-top: 3rem;
        
    }
}
.texto-ejemplos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: 
    rgb(249, 240, 240);
    
    p{
        padding: 1rem;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    @media (max-width: 600px){
        p{
            font-size: small;
        }

}
@media (max-width: 400px){
    p{
        font-size: x-small;
        padding: 0.5rem;
    }

}
@media (max-width: 330px){
    p{
        font-size: xx-small;
    }

}
}

/* estilos nosotros */
.nosotros{
    
    display: grid;
    grid-template-columns: (6, 1fr);
    grid-template-rows: (1fr 1fr 1fr);
    grid-template-areas: 
    ". . mision mision mision"
    "vision vision vision . ."
    ". . objetivos objetivos objetivos";
    color: $font-ppal;
    

    /* definiendo areas */
.n1{
    grid-area: mision;
    @include parrafo_varios;
}
.n2{
    grid-area: vision;
    @include parrafo_varios;
    }
.n3{padding:1rem 2rem;
    grid-area: objetivos;
    @include parrafo_varios;
    }
h2{
    text-align: center;
    margin: 2rem;
}
@media (max-width: 600px){
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
        "mision"
        "vision"
        "objetivos";
        align-items: center;
        justify-items: center;  

}
}

.ley{
    text-align: justify;
    margin-bottom: 2rem; 
    color: $font-ppal;
    width: 80%; 
    margin:2rem auto ;
    padding: 2rem;
    h3{
        color: $font-ppal;
        text-align: center;
    }
    li{
        list-style:decimal;
    }
    &:hover{
        background-color: $color-hover;
        transition: all 0.5s ease-in;
        border-radius: 20px; 
        }
}
// estilos de productos
.productos{
    color: $font-ppal;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: (1fr 1fr 1fr);
    grid-template-areas: 
    "ahorros ahorros ahorros imgahorros imgahorros imgahorros"
    "imgcredito imgcredito imgcredito credito credito credito"
    "inversion inversion inversion imginversion imginversion imginversion"
    ;
    img{
        @include imagenes;
        
    }
    .p1{
        grid-area: ahorros; 
        @include parrafo_varios;
    }
    .p2{
        grid-area: imgahorros;
        display: flex; 
    }

    .p3{
        grid-area: credito; 
        @include parrafo_varios;
    }
    .p4{
        grid-area: imgcredito; 
        display: flex; 
        
    }
    .p5{
        grid-area: inversion; 
        @include parrafo_varios;
    }
    .p6{
        grid-area: imginversion;
        display: flex;  

    }
    .col-md-7{
        
        @include parrafo_varios;
    }

    @media (max-width: 600px){
        grid-template-columns: 1fr;
        grid-template-areas:
        "ahorros"
        "imgahorros"
        "credito"
        "imgcredito"
        "inversion"
        "imginversion";
        
    
    }
}
// estilos enterate
.noticias{
    color: $font-ppal;
    .not1,.not2 {
        @include parrafo_varios;
    }

}




.formulario{
    width: 70%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: justify;

}


